target/
!.mvn/wrapper/maven-wrapper.jar
/bin/
/out/
.metadata
.classpath
.project
.settings/
.springBeans
.sts4-cache
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store
.env
*.log
docker-compose.override.yml